<section class="about">
  <div class="container about__container">

    <div class="about__item-1">
      <h3 class="about__title">lekker eten</h3>
      <p class="about__text">Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen.
        Dat is onze
        filosofie, goed eten in een goede sfeer.</p>
    </div>

    <div class="about__item-2">
      <img src="../../images/about-1.jpg" alt="">
    </div>

    <div class="about__item-3">
      <img src="../../images/about-2.jpg" alt="">
    </div>

    <div class="about__item-4">
      <h3 class="about__title">toffe ambiance</h3>
      <p class="about__text">Het creëren van de juiste sfeer is zeer belangrijk voor ons. We nemen onze tijd om te
        zorgen dat alle elementen bijdragen aan de juiste setting.</p>
    </div>




    <div class="about__item-5">
      <h3 class="about__title">lekkere cocktails</h3>
      <p class="about__text">Eten gaat niet over indruk maken op mensen. Het gaat erom dat ze zich op hun gemak voelen.
        Dat is onze
        filosofie, goed eten in een goede sfeer.</p>
    </div>

    <div class="about__item-6">
      <img src="../../images/about-3.jpg" alt="">
    </div>

  </div>
</section>
