<footer class="footer">
  <div class="container footer__container">
    <a class="logo" href="#">
      <img class="logo__img footer__logo" loading="lazy" src="../../images/logo-footer.png" alt="логотип Tzeezotje"
        width="269">
    </a>


    <ul class="list-reset social footer__social-list">
      <li class="social__item">
        <a class="footer__social social__link social__link--fb" href="#" aria-label="сциальная сеть"></a>
      </li>
      <li class="social__item">
        <a class="footer__social social__link social__link--ld" href="#" aria-label="сциальная сеть"></a>
      </li>
      <li class="social__item">
        <a class="footer__social social__link social__link--tw" href="#" aria-label="сциальная сеть"></a>
      </li>
      <li class="social__item">
        <a class="footer__social social__link social__link--yt" href="#" aria-label="сциальная сеть"></a>
      </li>
    </ul>

  </div>
  <div class="modals">
    <div class="modal-overlay">
      <div class="modal modal--1" data-target="form-popup">
        <img src="../../images/zeezotje-1.jpg" alt="">
        Окно 1
      </div>


    </div>
  </div>
</footer>
