<section class="hero">
  <h1 class="visually-hidden">Скрытый заголовок h1</h1>
  <div class="container">
    <div class="hero__subtitle">open everyday 6am - 9pm</div>
    <h2 class="hero__title">
      A bad day with lunch is better than a good day without it.
    </h2>

    <div class="hero__box-link">
      <button class="hero__btn btn-reset btn" data-path="form-popup">Reserve a table</button>

      <ul class="hero__social list-reset social">
        <li class="social__item">
          <a class="social__link social__link--fb" href="#" aria-label="сциальная сеть"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--ld" href="#" aria-label="сциальная сеть"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--tw" href="#" aria-label="сциальная сеть"></a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--yt" href="#" aria-label="сциальная сеть"></a>
        </li>
      </ul>
    </div>
  </div>
</section>
