<section id="menu" class="menu">
  <h2 class="visually-hidden">Скрытый заголовок h2</h2>
  <div class="container menu__container">
    <div class="menu__list">
      <div class="menu__item">
        <span class="menu__day">Woensdag 12/01</span>
        <a class="menu__row" href="#">
          <span class="menu__text menu__text--left">Salade met Serrano</span>
          <span class="menu__text menu__text--right">Steak Tartaar</span>
        </a>
      </div>
      <div class="menu__item">
        <span class="menu__day">Donderdag 13/01</span>
        <a class="menu__row" href="#">
          <span class="menu__text menu__text--left">Toast Roquefort</span>
          <span class="menu__text menu__text--right">Penne met Kip en Prei</span>
        </a>
      </div>
      <div class="menu__item">
        <span class="menu__day">Vrijdag 14/01</span>
        <a class="menu__row" href="#">
          <span class="menu__text menu__text--left">Verrassing van de Chef</span>
          <span class="menu__text menu__text--right">Penne met Kip en Prei</span>
        </a>
      </div>
      <div class="menu__item">
        <span class="menu__day">Vrijdag 15/01</span>
        <a class="menu__row" href="#">
          <span class="menu__text menu__text--left">Verrassing van de Chef</span>
          <span class="menu__text menu__text--right">Penne met Kip en Prei</span>
        </a>
      </div>
      <div class="menu__item">
        <span class="menu__day">Vrijdag 16/01</span>
        <a class="menu__row" href="#">
          <span class="menu__text menu__text--left">Verrassing van de Chef</span>
          <span class="menu__text menu__text--right">Penne met Kip en Prei</span>
        </a>
      </div>
    </div>
    <div class="menu__images">
      <img class="menu__img menu__img--left" src="../../images/foto-menu-2.jpg" alt="foto-menu-1" width="323">
      <img class="menu__img menu__img--right" src="../../images/foto-menu-1.jpg" alt="foto-menu-1" width="323">
    </div>
  </div>
</section>
