<section class="reviews">
  <h2 class="visually-hidden">Скрытый заголовок h2</h2>
  <div class="container reviews__container">

    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="reviews-swiper__inner">
            <span class="reviews-swiper__quotation"></span>
            <h3 class="reviews-swiper__title">Goede service, lekker eten, toffe ambiance</h3>
            <p class="reviews-swiper__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren.</p>
            <span class="reviews-swiper__name">alain heyndrickx</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-swiper__inner">
            <span class="reviews-swiper__quotation"></span>
            <h3 class="reviews-swiper__title">Goede service, lekker eten, toffe ambiance</h3>
            <p class="reviews-swiper__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren.</p>
            <span class="reviews-swiper__name">alain heyndrickx</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-swiper__inner">
            <span class="reviews-swiper__quotation"></span>
            <h3 class="reviews-swiper__title">Goede service, lekker eten, toffe ambiance</h3>
            <p class="reviews-swiper__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren.</p>
            <span class="reviews-swiper__name">alain heyndrickx</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-swiper__inner">
            <span class="reviews-swiper__quotation"></span>
            <h3 class="reviews-swiper__title">Goede service, lekker eten, toffe ambiance</h3>
            <p class="reviews-swiper__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
              eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren.</p>
            <span class="reviews-swiper__name">alain heyndrickx</span>
          </div>
        </div>


      </div>
    </div>
    <button class="reviews-swiper__next swiper-btn btn-reset"></button>
    <button class="reviews-swiper__prev swiper-btn btn-reset"></button>
    <div class="swiper-pagination"></div>

  </div>
</section>
