<section class="sfeerfoto">
  <div class="sfeerfoto__bg"></div>
  <div class="container sfeerfoto__container">
    <h2 class="sfeerfoto__title title">Sfeerfoto's</h2>
    <p class="sfeerfoto__text">De beste manier om de sfeer te ervaren is eens langskomen.
      In tussentijd hebben we hier alvast wat foto’s voor je klaar.</p>
    <div class="btn-box">
      <button class="sfeerfoto-swiper-next swiper-btn btn-reset"></button>
      <button class="sfeerfoto-swiper-prev swiper-btn btn-reset"></button>
    </div>
  </div>
  <div class="swiper sfeerfoto-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../../images/zeezotje-1.jpg" alt="" width="970" height="646">
      </div>
      <div class="swiper-slide">
        <img src="../../images/zeezotje-2.jpg" alt="" width="970" height="646">
      </div>
      <div class="swiper-slide">
        <img src="../../images/zeezotje-3.jpg" alt="" width="970" height="646">
      </div>
      <div class="swiper-slide">
        <img src="../../images/zeezotje-1.jpg" alt="" width="970" height="646">
      </div>
      <div class="swiper-slide">
        <img src="../../images/zeezotje-2.jpg" alt="" width="970" height="646">
      </div>
      <div class="swiper-slide">
        <img src="../../images/zeezotje-2.jpg" alt="" width="970" height="646">
      </div>
      <div class="swiper-slide">
        <img src="../../images/zeezotje-2.jpg" alt="" width="970" height="646">
      </div>

    </div>
    <div class="pagination"></div>
  </div>

</section>
